spring:
    datasource:
        url: jdbc:mysql://localhost:3306/shrf_db?createDatabaseIfNotExist=true
        username: root
        password: Arpit@123
        driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
    mail:
      host: smtp.gmail.com
      port: 587
      username: smartrenthouseotp@gmail.com
      password: udpjjlgsmxadcqtw
      properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true
              required: true

    # Multipart file upload settings
    servlet:
        multipart:
            max-file-size: 50MB
            max-request-size: 50MB

server:
    port: 8085
    tomcat:
        # Allow uploads up to 50 MB (bytes).
        max-swallow-size: 52428800
